<div class="main-container" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxflex="30">
        <button  routerLink="/admin/books/list" matTooltip="Click here to see the book list" mat-raised-button color="primary">
            <mat-icon>library_books</mat-icon> Total Books 5
        </button>
    </mat-card>
    <mat-card fxflex="30">
        <button routerLink="/admin/books/add" mat-raised-button color="warn">
            <mat-icon>playlist_add</mat-icon> Add New Book
        </button>
    </mat-card>
</div>