<div class="main-container" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center start">
  <form [formGroup]="addBookForm">
    <mat-card fxFlex="350px">
      <mat-card-title>{{ action }} Books</mat-card-title>
      <mat-card-subtitle *ngIf="action == 'Add'">Search by isbn and add book</mat-card-subtitle>
      <mat-card-subtitle *ngIf="action == 'Edit'">Edit book and click on Update button</mat-card-subtitle>
      <mat-card-content>
        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field>
            <input #isbn formControlName="isbn" matInput (keyup.enter)="getBookDetailsByIsbn(isbn.value)"
              autocomplete="off" placeholder="Type ISBN">
            <mat-hint  *ngIf="action == 'Add'" >Eg. 9788184756654, 9789352140060, 9780330523509</mat-hint>
          </mat-form-field>
          <button  *ngIf="action == 'Add'" (click)="getBookDetailsByIsbn(isbn.value)" matTooltip="Get book details" mat-mini-fab color="primary">
            <i class="material-icons">
              search
            </i>
          </button>
        </div>


        <mat-form-field>
          <input matInput formControlName="title" autocomplete="off" placeholder="Title">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="author" autocomplete="off" placeholder="Author">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="rating" autocomplete="off" placeholder="Rating">
        </mat-form-field>

        <input type="hidden" formControlName="thumbnail">
        <input type="hidden" formControlName="smallThumbnail">

        <img width="150px" *ngIf="addBookForm?.value?.smallThumbnail" [src]="addBookForm?.value?.smallThumbnail">

        <mat-form-field>
          <input matInput formControlName="categories" autocomplete="off" placeholder="categories">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput [matTextareaAutosize]="true" formControlName="description"
            placeholder="Description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput formControlName="noOfBooks" autocomplete="off" placeholder="No of Books">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="location" autocomplete="off" placeholder="Location">
        </mat-form-field>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>RESET</button>
        <button  *ngIf="action == 'Add'" (click)="saveBook()"  mat-raised-button color="primary" [disabled]="!addBookForm.valid">SAVE</button>
        <button  *ngIf="action == 'Edit'" (click)="updateBook()"  mat-raised-button color="primary" [disabled]="!addBookForm.valid">UPDATE</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>