<div class="main-container" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center start">
  <div class="card-container" fxLayoutGap="10px" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-card class="card" *ngFor="let book of books">
      <mat-card-header>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
      </mat-card-header>
      <span></span>
      <img mat-card-image src="{{ book.smallThumbnail }}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{ (book.description.length > 250)? (book.description | slice:0:250)+'..':(book.description) }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>