<div class="main-container" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center start">
  <div class="card-container" fxLayoutGap="10px" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-card class="card" *ngFor="let book of books">
      <mat-card-header>
        <mat-card-title>
          <h3>{{ book.title }}</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>{{ book.author }}</h4>
        </mat-card-subtitle>
      </mat-card-header>
      <span></span>
      <img mat-card-image src="{{ book.smallThumbnail }}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{ (book.description.length > 250)? (book.description | slice:0:250)+'..':(book.description) }}
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button *ngIf="!dashboardService.isBookAddedToMyFavorites(book)"
          (click)="addToMyFavorites(book)" matTooltip="Mark as Favorite">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="dashboardService.isBookAddedToMyFavorites(book)"
          (click)="removeMyFavorites(book)" matTooltip="My Favorite Book">
          <mat-icon>favorite</mat-icon>
        </button>
        <span *ngIf="book.availableBooks > 0">
          <button mat-raised-button color="warn" *ngIf="!dashboardService.isBookAddedToCart(book)"
            (click)="addToCart(book)">Add to Cart</button>
          <button mat-raised-button color="primary" *ngIf="dashboardService.isBookAddedToCart(book)">Added to
            Cart</button>
        </span>
        <span *ngIf="book.availableBooks === 0">
          <button mat-raised-button color="accent">Out of Stock</button>
        </span>
      </mat-card-actions>
    </mat-card>
  </div>
</div>