<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false">
    <mat-toolbar>LMS</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/search" [routerLinkActive]="['active']">Search Books</a>
      <a mat-list-item routerLink="/cart" [routerLinkActive]="['active']">My Cart</a>
      <a mat-list-item routerLink="/issued" [routerLinkActive]="['active']">My Issued Books</a>
      <a mat-list-item routerLink="/admin/issued" [routerLinkActive]="['active']">All Issued Books</a>
      <a mat-list-item routerLink="/admin/books" [routerLinkActive]="['active']">Manage Books</a>
      <a mat-list-item (click)="this.authService.signOut()" [routerLinkActive]="['active']"> Logout </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{ dashboardService.title }}</span>
        <span>
          <button mat-icon-button>
            <mat-icon aria-label="Filter">filter_list</mat-icon>
          </button>
          <button mat-icon-button routerLink="/cart">
            <mat-icon matBadge="{{ dashboardService.cart.length }}" matBadgeColor="warn" aria-label="Shopping Cart">
              shopping_cart</mat-icon>
          </button>
          <button mat-icon-button (click)="this.authService.signOut()">
            <mat-icon matTooltip="Logout" aria-label="Logout">
              power_settings_new</mat-icon>
          </button>
        </span>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>