<div class="main-container" fxLayout="row" fxLayoutAlign="center center">
   
    <mat-card fxFlex="100" fxFlex.gt-md="30">
        <mat-card-title>Welcome to LMS.</mat-card-title>
        <mat-card-subtitle>A self-sustained library management system</mat-card-subtitle>
        <mat-card-content>
         
        </mat-card-content>
        <mat-card-actions>   <button (click)="authService.signInWithGoogle()" mat-raised-button color="primary">Sign In With Google</button></mat-card-actions>
    </mat-card>

</div>